i {
    color: #ED6434 ;
  }
 
 .carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(108%);
  }

  i:hover {
    color: #263067;
  }
  .whatsapp {
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 10;
    width: 55px;
  }